.block{
    height: 2rem;
    width: 2rem;
    background: grey;
    display: inline-block;
    background-size: contain;
}
.solid{
    background-image:url(assets/img/wall.jpg);
}
.row{
    display: flex;
}
body{
    background: #333;
}
.empty{
    background-image:url(assets/img/grass3.jpg) ;
    background-image: url(assets/img/coin.png);
}
.char{
    height: 3rem;
    width: 2.7rem;
    background-image: url(assets/img/char.png);
    background-position: -42px 109px;
    background-size: 42px 55px;
    position: absolute;
    left: 4rem;
    top: 4rem; 
}
.game{
    position: relative;
}
.coin{
    background-image: url(assets/img/coin.png);
}

.key{
    background-image: url(assets/img/keyy.png);
}